img
{

    width: 100%;
    height: 100%;

}

.container
{
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}
.container .box
{
    width: 100%;
    
    display: flex;
    align-items: stretch;
    gap: 5px;

}

.box3

{   
    
    display:flex;
    flex-direction: column;
}

.box3 .innerbox
{
    height: 200px;
}

.container > .third
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
}



@media screen and (max-width:576px) {

    .container
    {
        display: flex;
        flex-direction: column;
    }
    
    .container > .third
    {
        grid-template-columns: repeat(1,1fr);
    }
}

@media screen and (min-width:577px) {

    .container
    {
        height: 400px;
    }
}