* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.header-section-img
{
    position: relative;
    left: 85px;
    top: 5px;
}


.btn2
{
    color: #FD6E0A;
    border-color: #FD6E0A;
    padding: 18px 25px;
    border-radius: 5px;
    border: 1px solid;
    font-weight: 700;
    font-size: 15px;
    margin-left: 30px
    

    
    ;
}
.btn {
  padding: 18px 35px;
  color: white;
  background-color: #fd6e0a;
  border: 0;
  border-radius: 5px;
  font-weight: 700;
  font-size: 15px;
}

.primary-color {
  color: #fd6e0a;
}

header h1 {
  font-weight: 800;
  font-size: 45px;
}
header {
  padding: 50px 200px 0 200px;
  background-color: #FFF8F3 ;
  background-image: url(../portfolio-resources-main/images/developer.png), url(../portfolio-resources-main/images/header_bg.png);
  background-repeat: no-repeat;
  background-position:left, bottom right;
  
  
}
header nav {
  display: flex;
  justify-content: space-between;
}

header nav ul {
  display: flex;
  align-items: center;
}

header nav ul > li {
  list-style: none;
  margin-left: 50px;
}

/*  title  */

.header-section {
  display: flex;
  align-items: center;
  
 
}

.header-section-greetings{
  font-weight: 600;
  font-size: 35px;
  color: #474747;
  margin-bottom: 5px;
  
}

.header-section-title {
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 20px;
}

.header-section div p
{
    margin-bottom: 30px;
}


.info
{
    display: flex;
    justify-content: space-between;
}

.about-title, .about-para
{
    text-align: center;
    margin-bottom: 30px;
   
}
.about-title
{
    font-weight: 700;
    font-size: 35px;
}
.about-para
{
    color: #474747;
}

.about
{
    margin: 130px 230px;
    padding: 130px 150px;
    background-color: #FFF8F3;
    border-radius: 10px;
}

.box
{
    text-align: center;
    color: #474747;
    margin-bottom: 5px;
}



 